/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* Microsoft research says 40px is ideal size for a touch target */
/* height or width */
/* used by buttons */
/* Assuming font-size: 1rem; */
/* used by table cells and text fields */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,700);
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(../fonts/SourceSansPro-Regular.woff2) format("woff2");
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(../fonts/SourceSansPro-Regular.woff) format("woff");
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(../fonts/SourceSansPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(../fonts/SourceSansPro-Semibold.woff2) format("woff2");
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(../fonts/SourceSansPro-Semibold.woff) format("woff");
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(../fonts/SourceSansPro-Semibold.ttf) format("truetype");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(../fonts/SourceSansPro-Bold.woff2) format("woff2");
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(../fonts/SourceSansPro-Bold.woff) format("woff");
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(../fonts/SourceSansPro-Bold.ttf) format("truetype");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url(../fonts/SourceSansPro-It.woff2) format("woff2");
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url(../fonts/SourceSansPro-It.woff) format("woff");
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url(../fonts/SourceSansPro-It.ttf) format("truetype");
}
/* HTML element (SMACSS base) rules */
/* Component (SMACSS module) rules */
/* Import Sass mixins, variables, Compass modules, etc. */
/* Microsoft research says 40px is ideal size for a touch target */
/* height or width */
/* used by buttons */
/* Assuming font-size: 1rem; */
/* used by table cells and text fields */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(../fonts/SourceSansPro-Regular.woff2) format("woff2");
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(../fonts/SourceSansPro-Regular.woff) format("woff");
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(../fonts/SourceSansPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(../fonts/SourceSansPro-Semibold.woff2) format("woff2");
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(../fonts/SourceSansPro-Semibold.woff) format("woff");
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(../fonts/SourceSansPro-Semibold.ttf) format("truetype");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(../fonts/SourceSansPro-Bold.woff2) format("woff2");
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(../fonts/SourceSansPro-Bold.woff) format("woff");
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(../fonts/SourceSansPro-Bold.ttf) format("truetype");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url(../fonts/SourceSansPro-It.woff2) format("woff2");
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url(../fonts/SourceSansPro-It.woff) format("woff");
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url(../fonts/SourceSansPro-It.ttf) format("truetype");
}
/* line 5, ../sass/_global_defaults.scss */
h1, h2, h3, h4 {
  font-weight: 600;
}

/* line 8, ../sass/_global_defaults.scss */
h1 {
  font-size: 1.625em;
  line-height: 1.15em;
}

/* line 12, ../sass/_global_defaults.scss */
h2 {
  font-size: 1.3125em;
  line-height: 1.15em;
}

/* line 24, ../sass/_global_defaults.scss */
a {
  color: #0074bd;
  text-decoration: underline;
}

/* line 28, ../sass/_global_defaults.scss */
a:visited {
  color: #0074bd;
}

/* line 30, ../sass/_global_defaults.scss */
a:hover,
a:focus {
  color: #003a5e;
}

/* line 33, ../sass/_global_defaults.scss */
a:active {
  /* a link when it is 'clicked' on */
  color: #005184;
}

/* line 35, ../sass/_global_defaults.scss */
a.active,
a[aria-selected="true"] {
  /* in Drupal, this is a link that points to the current (active) page */
  color: inherit;
}

/* line 41, ../sass/_global_defaults.scss */
input a,
td a, th a,
.vertical-tabs a {
  text-decoration: none;
}

/* line 51, ../sass/_global_defaults.scss */
.form-item {
  padding: 0;
}

/* line 55, ../sass/_global_defaults.scss */
input, select, textarea {
  font-family: inherit;
  font-size: inherit;
}

/* line 60, ../sass/_global_defaults.scss */
input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding: 0.3em 1em;
}

/* line 68, ../sass/_global_defaults.scss */
button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  font-weight: 600;
  border-color: #B7B7AC;
  padding: 0.3em 1em;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U5ZTlkYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==') !important;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfb), color-stop(100%, #e9e9db)) !important;
  background-image: -moz-linear-gradient(top, #fcfcfb, #e9e9db) !important;
  background-image: -webkit-linear-gradient(top, #fcfcfb, #e9e9db) !important;
  background-image: linear-gradient(to bottom, #fcfcfb, #e9e9db) !important;
}
/* line 80, ../sass/_global_defaults.scss */
button:hover, button:focus,
a.button:hover,
a.button:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzZjNlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==') !important;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfb), color-stop(100%, #f3f3ea)) !important;
  background-image: -moz-linear-gradient(top, #fdfdfb, #f3f3ea) !important;
  background-image: -webkit-linear-gradient(top, #fdfdfb, #f3f3ea) !important;
  background-image: linear-gradient(to bottom, #fdfdfb, #f3f3ea) !important;
}

/* line 88, ../sass/_global_defaults.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  background-color: #fcfcfa !important;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 113, ../sass/_global_defaults.scss */
table tr.even, table tr.odd {
  background: none;
  border-bottom: solid 1px #d6d6bb;
}
/* line 118, ../sass/_global_defaults.scss */
table tr.even td.active, table tr.odd td.active {
  background: none;
}
/* line 123, ../sass/_global_defaults.scss */
table tr:hover {
  background-color: rgba(0, 116, 189, 0.08);
}
/* line 126, ../sass/_global_defaults.scss */
table tr th {
  font-weight: 600;
}

/* line 1, ../sass/_components.scss */
div.messages {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}

/* line 10, ../sass/_components.scss */
div.status,
div.warning,
div.error {
  font-weight: 600;
  border-left-width: 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 17, ../sass/_components.scss */
div.status {
  color: #52803b !important;
  background-color: #f4f9f2 !important;
  border-color: #77b259;
  background-image: url("../images/check.svg");
}

/* line 23, ../sass/_components.scss */
div.warning {
  color: #9d6900;
  background-image: url("../images/warning.svg");
  background-color: #fff7e8;
  border-color: #e09600;
}

/* line 29, ../sass/_components.scss */
div.error {
  color: #a11b00;
  background-image: url("../images/error.svg");
  background-color: #ffece9;
  border-color: #e62600;
}

/* line 3, ../sass/_contextual_overrides.scss */
body,
#overlay-content {
  background: #ffffff;
  color: #1a1a1a;
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
}

/* line 12, ../sass/_contextual_overrides.scss */
html.js body {
  padding-top: 0;
  margin-top: 30px;
}

/* line 17, ../sass/_contextual_overrides.scss */
#page {
  color: inherit;
}

/* line 22, ../sass/_contextual_overrides.scss */
.admin-list li a {
  font-weight: 600;
}

/* line 28, ../sass/_contextual_overrides.scss */
#admin-menu li > a {
  padding: 6px 8px;
}

/* line 33, ../sass/_contextual_overrides.scss */
#overlay {
  background: none repeat scroll 0% 0% rgba(80, 80, 80, 0.8);
  border-top: 1px solid #626262;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-top: 3em;
  padding: 0.3em 0 0 0;
  min-width: 0;
}
/* line 43, ../sass/_contextual_overrides.scss */
#overlay .breadcrumb,
#overlay #overlay-title-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 48, ../sass/_contextual_overrides.scss */
#overlay #overlay-title {
  font-weight: 600;
  font-size: 1.7em;
  margin-bottom: 0.2em;
}
/* line 54, ../sass/_contextual_overrides.scss */
#overlay .breadcrumb a {
  color: #1ea8ff;
}
/* line 57, ../sass/_contextual_overrides.scss */
#overlay .breadcrumb a:hover, #overlay .breadcrumb a:focus {
  color: #1575b2;
}
/* line 62, ../sass/_contextual_overrides.scss */
#overlay .breadcrumb a:last-child {
  color: #cccccc;
}
/* line 65, ../sass/_contextual_overrides.scss */
#overlay .breadcrumb a:last-child:hover, #overlay .breadcrumb a:last-child:focus {
  color: #8e8e8e;
}
/* line 71, ../sass/_contextual_overrides.scss */
#overlay #overlay-close-wrapper {
  right: 3px;
  top: 0px;
  padding-right: 26px;
}
/* line 76, ../sass/_contextual_overrides.scss */
#overlay #overlay-close-wrapper #overlay-close {
  border-radius: 10%;
  background-image: url("../images/ex.svg");
  background-color: inherit;
}
/* line 82, ../sass/_contextual_overrides.scss */
#overlay #overlay-content {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 1.8em;
}
/* line 86, ../sass/_contextual_overrides.scss */
#overlay #overlay-tabs {
  font-size: inherit;
  line-height: inherit;
}
/* line 90, ../sass/_contextual_overrides.scss */
#overlay #overlay-tabs li {
  margin-bottom: -1px;
}
/* line 96, ../sass/_contextual_overrides.scss */
#overlay #page > ul.secondary {
  float: none;
  width: 100%;
  border-bottom: 1px solid #C8C8C8;
  margin-top: 0;
}
/* line 102, ../sass/_contextual_overrides.scss */
#overlay #page > ul.secondary li {
  padding-right: 0;
  margin: 0 0 -1px 0;
}
/* line 106, ../sass/_contextual_overrides.scss */
#overlay #page > ul.secondary li a {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
  background: none;
  font-weight: 600;
}
/* line 111, ../sass/_contextual_overrides.scss */
#overlay #page > ul.secondary li a.active {
  border-bottom: 1px solid #000;
  color: inherit;
}
/* line 115, ../sass/_contextual_overrides.scss */
#overlay #page > ul.secondary li a:hover, #overlay #page > ul.secondary li a:focus {
  color: #0063a1;
}
/* line 122, ../sass/_contextual_overrides.scss */
#overlay #page #content > .action-links {
  margin-top: 0;
}

/* line 131, ../sass/_contextual_overrides.scss */
.views-exposed-form .views-exposed-widget label {
  margin-bottom: 0.3em;
}
/* line 134, ../sass/_contextual_overrides.scss */
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.8em;
}
