/* CONTENTS

  Tables
  Fieldsets

  Skip link
  Branding
  Help
  Page title
  Console
  Tabs
  Page layout
  Form elements
  Views exposed form
  Database log table
  Media
  Messages

  System
    admin/appearance
    Update options
    Update status
    Maintenance theming
    Overlay theming
    Shortcut theming
    Field UI
    Recent content block
    User login block
    Disable overlay message
 */


@mixin responsive-table-container {
  @media all and (max-width: 900px) {
    overflow-x: scroll;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
  }
}
@mixin page-max-width {
 max-width: 1400px;
 margin-right: $page-margins; /* LTR */
 margin-left: $page-margins; /* LTR */

 @media all and (min-width: 800px) {
   margin-left: auto;
   margin-right: auto;
 }
}




/**
 *                                        Layout
 */
body.page-admin-reports-status #block-system-main > .content,
.table-container {
  @include responsive-table-container;
}
#branding > [role="presentation"],
#page {
 @include page-max-width;
}
@media all and (max-width: 600px) {
  div.vertical-tabs {
    background: #f2f2f2; // very pale grey

    .vertical-tabs-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      float: none;
    }
    ul li.vertical-tab-button {
      a {
        border-left: 1px solid #ccc;
      }
      .summary {
        display: none;
      }
    }
    .vertical-tabs-panes {
      margin-left: 0;
      background: white;
      border-top: 1px solid #ccc;
    }
  }
}




/**
 *                                        Small components
 */
body,
#overlay-content {
    background: $white;
    color: brighten( black, 10% );
    font-size: 16px;
    line-height: 1.5;
    font-family: $font-source_sans;
}

html.js body {
  $h-admin_menu: 30px;

  padding: 0/* 1.5em 1em */;
  margin-top: $h-admin_menu; // makes space for admin menu
}

.admin-list {
  li a {
    font-weight: 600;
  }
}


#admin-menu li > a {
  padding: 6px 8px
}



.field.field-label-inline {
    & > .field-label,
    & > .field-items,
    & > .field-items > * {
        display: inline;
    }
}





/**
 *                                        Lists
 */

li {
  line-height: 1.2;

  & + li {
    margin-top: 0.6em;
  }
}
ul,
.block ul,
.item-list ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
.item-list .pager li {
  // padding: 0.5em;
}
.item-list ul li,
li.leaf,
ul.menu li {
  list-style-type: disc;
  list-style-image: none;
}
ul.menu li {
  margin: 0;
}
ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em; /* LTR */
}
.item-list ul li.collapsed,
ul.menu li.collapsed {
  list-style-image:url(../../misc/menu-collapsed.png);
  list-style-type:disc;
}
.item-list ul li.expanded,
ul.menu li.expanded {
  list-style-image:url(../../misc/menu-expanded.png);
  list-style-type:circle;
}





/**
 *                                        Tables.
 */
table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bebfb9;

  tr {
    border-width: 1px;
    border-style: solid;
    border-color: darken($eggshell, 20%);

    &.odd,
    &.even {
      background: none; // Overrides system
    }

    &:hover {
      background-color: rgba( $D-blue, 0.08 );
    }
    &.drag {
      background: #fe7;
    }
    &.drag-previous {
      background: #ffb;
    }
    &.selected td.active,
    &.selected td {
      background: #ffc;
      border-color: #eeb;
    }
    &.region-title {
      background: darken($eggshell, 2%);
    }
  }
  td,
  th {
    vertical-align: middle;
    padding: 8px 10px;
    border: 0;
    // color: #000;
  }
  th {
    text-transform: uppercase;
    background: #e1e2dc;
    font-weight: 600;
    border-width: 1px;
    border-style: solid;
    border-color: #bebfb9;
    padding: 3px 10px;

    &.select-all {
      // Force browsers to calculate the width of a 'select all' TH element.
      width: 1px;
    }
    &.active {
      background: #bdbeb9;
    }
    a {
      display: block;
      position: relative;
    }
    &.active a {
      padding: 0 25px 0 0; /* LTR */
    }
    &.active img {
      position: absolute;
      top: 3px;
      right: 3px; /* LTR */
    }
  }
  td.active {
    background: rgba(#e9e9dd, 0.45);
  }

  &.system-status-report {
    tr {
      border-bottom: 1px solid #ccc;

      &.ok {
        color: #255b1e;
        background-color: #e5ffe2;
      }
      &.info {
        color: #040f37;
        background-color: #bdf;
      }
      &.warning {
        color: #840;
        background-color: #fffce5;
      }
      &.error {
        color: #8c2e0b;
        background-color: #fef5f1;
      }
    }
  }
}
/* Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
tr td:last-child {
  border-right: 1px solid #bebfb9; /* LTR */
}


/**
 *                                        Fieldsets.
 *
 * Fieldset legends are displayed like containers in Seven. However, several
 * browsers do not support styling of LEGEND elements. To achieve the desired
 * styling:
 * - All fieldsets use 'position: relative'.
 * - All legend labels are wrapped in a single span.fieldset-legend that uses
 *   'position: absolute', which means that the LEGEND element itself is not
 *   rendered by browsers.
 * - Due to using 'position: absolute', collapsed fieldsets do not have a
 *   height; the fieldset requires a 'padding-top' to make the absolute
 *   positioned .fieldset-legend appear as though it would have a height.
 * - Various browsers are positioning the legend differently if there is a
 *   'padding-left'/'padding-right' applied on a fieldset and inherit the
 *   positioning even to absolute positioned elements within; we therefore have
 *   to apply all padding to the inner .fieldset-wrapper instead.
 */
fieldset {
  border: 1px solid #ccc;
  padding: 1em 0 0 0; /* LTR */
  position: relative;
  margin: 1em 0;
  border-radius: 0.3em;

  legend {
    padding: 0.3em;
    margin-left: 0.6em;

    .fieldset-legend {
      text-transform: uppercase;
      // padding-left: 15px; /* LTR */
      padding-left: 0;
      // position: absolute;
      text-transform: none;
      margin-top: 0;
    }
  }
  .fieldset-wrapper {
    padding: 0 13px 13px 15px; /* LTR */
  }
  &.collapsed {
    background-color: transparent;
  }
  html.js &.collapsed {
    border-width: 1px;
    height: auto;
  }
  fieldset {
    background-color: #fff;

    fieldset {
      background-color: #f8f8f8;
    }
  }
}

fieldset {
}





/**
 *                                        Pager.
 */
.item-list .pager {
  li {
    padding: 0;
    display: inline-block;

    &:not(:first-child) {
      margin-left: 0.5em;
    }

    a {
      display: block;
      padding: $pointer_target-flat-padding;
    }
  }
}





/**
 *                                        Skip link.
 */
#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%; /* LTR */
  margin-left: -5.25em; /* LTR */
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  display: block;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  padding: 1px 10px 2px 10px; /* LTR */
  text-decoration: none;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}





/**
 *                                        Branding.
 */
#branding {
  // overflow: hidden;
  // padding: 20px 20px 0 20px; /* LTR */
  padding: 0;
  // position: relative;
  // background-color: #e0e0d8;

  // float: left;
  margin-bottom: 1em;
  padding-left: $page-margins; /* LTR */
  padding-right: $page-margins; /* LTR */

  body > & {
    background: $overlay-bg;
    border-bottom: solid 1px #A6A6A6;
  }
}
.breadcrumb {
  font-size: 0.846em;
  // padding-bottom: 5px;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  background: rgba($overlay-bg, 0.7);

  float: left; /* LTR */
  // position: relative;
  // z-index: 10;
  margin-bottom: 0.7em;
}
#branding div.block {
  // position: relative;
  // float: right; /* LTR */
  // width: 240px;
  // padding-left: 10px; /* LTR */
  // background: #333;
}
#branding div.block form label {
  display: none;
}
#branding div.block form {
  div.form-item {
    float: left; /* LTR */
    border: 0;
    margin: 0;
    padding: 0;
  }
  input.form-text {
    width: 140px;
    margin-right: 10px; /* LTR */
  }
  input.form-submit {
    text-align: center;
    width: 80px;
  }
}





/**
 *                                        Help.
 */
#help {
  // font-size: 0.923em;
  // margin-top: 1em;

  p {
    // margin: 0 0 10px;
  }
  div.more-help-link {
    text-align: right; /* LTR */
  }
}





/**
 *                                        Page title.
 */
.page-title,
#overlay-title {
  // color: inherit;
  // font-weight: 600;
  // font-size: 1.7em;
  margin: 0 0 0.2em 0;
  min-width: 7em; // Just a little wider than 'Loading...........'
  float: left;
  clear: left;
  display: block;
}
.page-title {
  // background: #333;
  // padding-top: 20px;
}




/**
 *                                        Console.
 */
#console {
  margin: 9px 0 10px;
}





/**
 *                                        Tabs.
 */
ul.primary,
#overlay-tabs {
  @include group;
  font-size: inherit;
  line-height: inherit;
  float: left;
  margin-bottom: -1px;
  border: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    margin: 0;
    display: inline-block;

    a {

      &,
      &.active,
      &:active,
      &:visited,
      &:focus,
      &:hover {
        color: #444440;
        display: block;
        padding: $pointer_target-padding !important;
        margin: 0;
        background-color: $overlay-tabs-bg;
        border-width: 1px 1px;
        border-style: solid;
        border-color: #A6A6A6;
        text-transform: none;
        font-size: inherit;
        border-radius: (4px 4px 0px 0px);
      }


      &:focus,
      &:hover {
          margin: 0;
          color: black;
          background-color: $overlay-tabs-bg-hover;
      }
    }
    &.active a[href] {
      &,
      &.active,
      &:active,
      &:visited {
        border-bottom-color: $overlay-tabs-bg-active;
          background-color: $overlay-tabs-bg-active;
          // padding-bottom: 0;
      }
    }
  }
}

.tabs-secondary {
  // clear: both;
  float: left;
  #page & {
    // margin-top: -2.5em; // it should be displayed inside the page
    margin: 0 2.4em  1em 0;
  }
}
$secondary-tabs-radius: 0.3em;
$color-secondary-border: #8D8D8D;
ul.secondary {
  float: right; /* LTR */
  font-size: 0.8em;
  // padding: 0 3px 5px;
  // line-height: 1.385em;
  overflow: hidden;
  border-bottom: none;
  padding: 0;

  background: none;
  margin: 0/* -1.4em 0 0.3em 0 */; /* LTR */
  overflow: visible;

  li {
    margin: 0;
    float: left; /* LTR */
    padding: 0;
    border-right: none;

    &:first-child a {
      border-radius: $secondary-tabs-radius 0 0 $secondary-tabs-radius;
    }
    &:last-child a {
      border-radius: 0 $secondary-tabs-radius $secondary-tabs-radius 0;
    }

    a {
      background-color: $overlay-tabs-bg;
      color: #000;
      display: inline-block;
      border: solid 1px $overlay-tabs-border-color;
      padding: $pointer_target-padding;

      &.active {
        border: solid 1px $overlay-tabs-border-color;
        background: $overlay-tabs-bg-active;
        // color: inherit;
        font-weight: 600;
      }
      &:hover,
      &:focus {
        background-color: $overlay-tabs-bg-hover;
      }
    }
  }
}
#content {
  clear: left;
}





/**
 *                                        Page layout.
 */
#page {
  color: inherit;
  padding: 0/* 20px 0 40px 0 */; /* LTR */
  // background: #fff;
  position: relative;
  color: #333;
}
#secondary-links ul.links li {
  padding: 0 10px 10px 0; /* LTR */
}
#secondary-links ul.links li a {
  font-size: 0.923em;
  background: #777;
  color: #fff;
  text-align: center;
  // padding: 5px;
  height: 55px;
  width: 80px;
  overflow: hidden;
  border-radius: 5px;
}
#secondary-links ul.links li a:hover {
  background: #999;
}
ul.links li,
ul.inline li {
  margin-right: 1em; /* LTR */
}
ul.inline li {
  display: inline;
}
#secondary-links ul.links li {
  &.active-trail a,
  a.active {
    background: #333;
  }
}
ul.admin-list {
  li {
    position: relative;
    padding-left: 30px; /* LTR */
    padding-top: 9px;
    border-top: 1px solid #ccc;
    margin-left: 0; /* LTR */
    margin-bottom: 10px;
    background: url(../images/list-item.png) no-repeat 0 11px; /* LTR */
    list-style-type: none;
    list-style-image: none;

    &:last-child {
      border-bottom: none;
    }
    a {
      margin-left: -30px; /* LTR */
      padding: 0 0 4px 30px; /* LTR */
      min-height: 0;
    }
  }
}
.admin-panel .item-list ul,
ul.admin-list {
  margin: 0;
  padding: 0;
}
.admin-panel .item-list ul,
ul.admin-list.compact {
  margin: 8px 0;
}
.admin-panel .item-list li,
ul.admin-list.compact li {
  border: none;
  background: none;
  margin: 0 0 0.75em;
  // line-height: 1;
  padding: 0;
}
ul.admin-list.compact li a {
  margin-left: 0; /* LTR */
  padding: 0;
}
ul.admin-list li div.description a {
  margin-left: 0; /* LTR */
  padding: 0;
  min-height: inherit;
}
div.submitted {
  color: #898989;
}





/**
 *                                        Form elements.
 */
.form-item {
  padding: 0;
  margin: 0 0 1em;
}
.filter-wrapper .form-item,
div.teaser-checkbox .form-item,
.form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}
.form-type-checkbox {
  padding: 0;
}
.text-format-wrapper .form-item {
  padding-bottom: 0;
}
.form-item {
  label {
    margin: 0;
    padding: 0;
  }
  label.option {
    font-size: 0.923em;
    text-transform: none;

    input {
      vertical-align: middle;
    }
  }
}
.form-disabled {
  input.form-autocomplete,
  input.form-text,
  input.form-file,
  textarea.form-textarea,
  select.form-select {
    background-color: #eee;
    color: #777;
  }
}

/* Filter */
.filter-wrapper {
  border-top: 0;
  padding: 10px 2px;

  .fieldset-wrapper {
    padding: 0 6px;
  }
  .form-item,
  .filter-guidelines,
  .filter-help {
    font-size: 0.923em;
    padding: 2px 0 0 0; /* LTR */
  }
}
ul.tips,
div.description,
.form-item div.description {
  margin: 5px 0;
  font-size: 0.923em;
  color: #666;
}
ul.tips li {
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
body div.form-type-radio div.description,
body div.form-type-checkbox div.description {
  margin-left: 1.5em; /* LTR */
}
input[disabled],
input.form-button-disabled,
input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  &:focus {
    // color: #000;
    // border-color: #ace;
    outline: solid 2px $color-input-focus;
  }
}

ul.action-links {
  margin: 1em 0;
  padding: 0 20px 0 20px; /* LTR */
  list-style-type: none;
  overflow: hidden;

  li {
    float: left; /* LTR */
    margin: 0 1em 0 0; /* LTR */
  }
  a {
    padding-left: 15px; /* LTR */
    background: transparent url(../images/add.png) no-repeat 0 center;
    // line-height: 30px;
  }
}

/* Exceptions */
#diff-inline-form select,
div.filter-options select {
  padding: 0;
}

.form-item {
  padding: 0;
}

input, select, textarea {
  font-family: inherit;
  font-size: inherit;
}

button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  font-weight: 600;
  border-color: #B7B7AC;
  padding: $pointer_target-padding;
  background-image: (linear-gradient(top,
    brighten($eggshell,10%),
    darken($eggshell,10%)));
  border-radius: 0.4em;
  font-family: inherit;
  margin-bottom: 1em;
  margin-right: 1em; /* LTR */

  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;

  &:hover,
  &:focus {
    background-image: (linear-gradient(top,
      brighten($eggshell,25%),
      darken($eggshell,5%)));
  }
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  #page & {
    padding: $data-field-padding;
    background-color: $eggshell;
    border-radius: ( $corner_radius-pointer );
    border: 1px solid #ccc;
    border-top-color: #999;
  }
}





/**
 *                                        Views
 */
.views-display-columns > * {
  @media all and (max-width: 600px) {
    float: none;
    margin-left: 0;
    padding-left: 0;
    width: auto;
  }
}
.views-exposed-form {
  .views-exposed-widget {
    label {
      margin-bottom: 0.3em;
    }
    .form-submit {
        margin-top: 1.8em; // equal to 1 line of text (at 1.5em line-height) + label's bottom margin
    }
  }
}
.views-table {
  @include responsive-table-container;
}





/**
 *                                        Database log table.
 */
table#admin-dblog tr {
  &.dblog-warning {
    background-color: brighten(rgba($warning, 0.25), 20%);

    td.icon {
        background-image: url("../images/warning.svg");
    }
  }

  &.dblog-error {
    background-color: rgba($error, 0.25);

    td.icon {
        background-image: url("../images/error.svg");
    }
  }
}





/**
 *                                        Media.
 */
.media-item {
    padding: 0px 2px 2px;
}





/**
 *                                        Messages
 * The colours are copied from Seven in Drupal 8
 */
div.messages {
    // background-position: 8px 8px;
    // background-repeat: no-repeat;
    // border: 1px solid;
  border-radius: ( $corner_radius-large );
    // margin: 6px 0px;
    // padding: 10px 10px 10px 50px;
}

div.status,
div.warning,
div.error {
  font-weight: inherit;
  border-left-width: 5px;
  border-radius: ( 2px );
}
div.status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #c9e1bd;
  border-left-color: #77b259;
  background-image: url('../images/check.svg');
}
div.warning {
  color: #734c00;
  background-color: #fdf8ed;
  border-color: #f4daa6;
  border-left-color: #e09600;
  background-image: url('../images/warning.svg');
}
div.error {
  color: #a51b00;
  background-color: #fcf4f2;
  border-color: #f9c9bf;
  border-left-color: #e62600;
  background-image: url('../images/error.svg');
}





/**
 *                                        System.
 */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel {
  margin: 0 0 20px;
  padding: 9px;
  background: #f8f8f8;
  border: 1px solid #ccc;

  &,
  .body {
    // padding: 0;
    clear: left;
  }
  h3 {
    font-size: 0.923em;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 9px;
  }
}

/*                      admin/appearance */
#system-themes-page h2 {
  font-weight: normal;
  text-transform: uppercase;
}
.theme-selector h3 {
  font-weight: normal;
}
.theme-default h3 {
  font-weight: bold;
}
.system-themes-list-enabled .theme-selector h3 {
  margin-top: 0;
}

/*                      Update options. */
div.admin-options {
  background: #f8f8f8;
  // line-height: 30px;
  height: 30px;
  padding: 9px;
  border: 1px solid #ccc;
  margin: 0 0 10px;

  label {
    text-transform: uppercase;
    font: 0.846em/1.875em Lucida Grande, Lucida Sans Unicode, sans-serif;
  }
  label,
  div.form-item {
    margin-right: 10px; /* LTR */
    float: left; /* LTR */
  }
  div.form-item {
    padding: 0;
    border: 0;
  }
}

/*                      Update status */
.versions table.version {
  border: none;
}

/*                      Maintenance theming */
body.in-maintenance {
  #sidebar-first {
    float: left; /* LTR */
    width: 200px;
  }
  #content {
    float: right; /* LTR */
    width: 550px;
    padding-right: 20px; /* LTR */
    clear: none;
  }
  #page {
    overflow: auto;
    width: 770px;
    margin: 0 auto;
    padding-top: 2em;
  }
  #branding h1 {
    width: 770px;
    margin: 0 auto;
    float: none;
  }
  .form-radios .form-type-radio {
    padding: 2px 0;
  }
  div.form-item:after {
    content: "";
    display: none;
    clear: none;
  }
  .form-submit {
    display: block;
  }
  #logo {
    margin-bottom: 1.5em;
    max-width: 180px;
  }
}
ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;

  li {
    padding: 0.5em 1em 0.5em 20px; /* LTR */
    color: #adadad;
  }
  li.active {
    background: transparent url(../images/task-item.png) no-repeat 3px 50%; /* LTR */
    padding: 0.5em 1em 0.5em 20px; /* LTR */
    color: #000;
  }
  li.done {
    background: transparent url(../images/task-check.png) no-repeat 0 50%;
    color: green;
  }
}

/*                      Overlay theming */
.overlay {
  #branding {
    background-color: #fff;
    padding-top: 15px;

    .breadcrumb {}
  }
  #branding h1.page-title,
  #left,
  #footer {
    display: none;
  }
  #page {
    margin: 0;
    // padding: 0 20px;
  }
  #overlay-tabs {
    bottom: -1px;
    // font-size: 1.54em;
    // line-height: 1.54em;
    margin: 0;
  }
  #content {
    padding: 0;
  }
}
h1#overlay-title {
  font-weight: normal;
}

/*                      Shortcut theming */
div.add-or-remove-shortcuts {
  float: left; /* LTR */
  padding-top: 6px;
  padding-left: 6px; /* LTR */
}
div.add-or-remove-shortcuts a {
  span.icon {
      // float: left;
      // margin-left: 8px;
      background: transparent url("../images/favstar.svg") no-repeat scroll left top;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: -2px;
      background-position: 0px 0px;
  }
  &:focus,
  &:hover {
    span.icon {
        background-position: -20px 0px;
    }
  }
}
div.remove-shortcut a {
  span.icon {
      background-position: -40px top;
  }
  &:focus,
  &:hover {
    span.icon {
        background-position: -60px 0px;
    }
  }
}

/*                      Dashboard */
#dashboard {
  .dashboard-region div.block h2 {
    background: #E0E0D8;
  }
  div.block h2 {
    margin: 0;
    font-size: 1em;
    padding: 3px 10px;
  }
  div.block div.content {
    padding: 10px 5px 5px 5px; /* LTR */
  }
  div.block div.content ul.menu {
    margin-left: 20px; /* LTR */
  }
  .dashboard-region .block {
    border: #ccc 1px solid;
  }
}

/*                      Field UI */

#field-display-overview {
  input.field-formatter-settings-edit {
    margin: 0;
    padding: 1px 8px;
  }
  tr.field-formatter-settings-changed {
    background: #FFFFBB;
  }
  tr.drag {
    background: #FFEE77;
  }
  tr.field-formatter-settings-editing {
    background: #D5E9F2;
  }
  .field-formatter-settings-edit-form .form-item {
    margin: 10px 0;
  }
  .field-formatter-settings-edit-form .form-submit {
    margin-bottom: 0;
  }
}

/*                      Recent content block */
#dashboard div#block-node-recent div.content {
  padding: 0;
}
#block-node-recent table,
#block-node-recent tr {
  border: none;
}
#block-node-recent .more-link {
  padding: 0 5px 5px 0; /* LTR */
}

/*                      User login block */
#user-login-form .openid-links {
  margin-left: 0; /* LTR */
}
#user-login-form .openid-links .user-link {
  margin-left: 1.5em; /* LTR */
}

/*                      Disable overlay message */
#overlay-disable-message {
  background-color: #addafc;
}
#overlay-disable-message a,
#overlay-disable-message a:visited {
  color: #000;
}
#overlay-disable-message a:focus,
#overlay-disable-message a:active {
  outline: none;
  text-decoration: underline;
}
.overlay-disable-message-focused a {
  padding: 0.4em 0.6em;
}
.overlay-disable-message-focused #overlay-dismiss-message {
  background-color: #59a0d8;
  color: #fff;
  border-radius: 8px;
}
