
/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

h1, h2, h3, h4 {
	font-weight: 600;
}
h1 {
	font-size: 1.625em;
	line-height: 1.15em;
}
h2 {
	font-size: 1.3125em;
	line-height: 1.15em;
}
h3 {}
h4 {}



// =================================================================
// 											links
$colour-links: $D-blue;
a {
    color: $colour-links;
	text-decoration: underline;}
a:link {}
a:visited {
    color: $colour-links;}
a:hover,
a:focus {
    color: shade( $colour-links, 50% );}
a:active { /* a link when it is 'clicked' on */
    color: shade( $colour-links, 30% );}
a.active,
a[aria-selected="true"] { /* in Drupal, this is a link that points to the current (active) page */
    color: inherit;}
input,
td, th,
.vertical-tabs {
	a {
		text-decoration: none;
	}
}



// =================================================================
// 											Forms

.form-item {
	padding: 0;
}

input, select, textarea {
    font-family: inherit;
	font-size: inherit;
}

input.form-autocomplete, 
input.form-text, 
input.form-file, 
textarea.form-textarea, 
select.form-select {
	padding: $pointer_target-padding;
}

button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	font-weight: 600;
	border-color: #B7B7AC;
	padding: $pointer_target-padding;
	@include background-image(linear-gradient(top, 
		scale-lightness($eggshell,10%), 
		scale-lightness($eggshell,-10%)) !important);

	&:hover,
	&:focus {
		@include background-image(linear-gradient(top, 
			scale-lightness($eggshell,25%), 
			scale-lightness($eggshell,-5%)) !important);
	}
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	background-color: $eggshell !important;
	@include border-radius( $corner_radius-pointer );
}



// =================================================================
// 											Tables
table {
	tr {
		&.even,
		&.odd {
		    background: none;
		    border-bottom: solid 1px scale-lightness($eggshell,-20%);
			td {
				&.active {
					background: none;
				}
			}
		}
		&:hover {
			background-color: rgba( $D-blue, 0.08 );
		}
		th {
			font-weight: 600;
		}
	}
}