/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* Microsoft research says 40px is ideal size for a touch target */
/* height or width */
/* used by buttons */
/* used by flat buttons */
/* Assuming font-size: 1rem; */
/* used by table cells and text fields */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(../fonts/SourceSansPro-Regular.woff2) format("woff2");
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(../fonts/SourceSansPro-Regular.woff) format("woff");
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(../fonts/SourceSansPro-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(../fonts/SourceSansPro-Semibold.woff2) format("woff2");
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(../fonts/SourceSansPro-Semibold.woff) format("woff");
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(../fonts/SourceSansPro-Semibold.ttf) format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(../fonts/SourceSansPro-Bold.woff2) format("woff2");
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(../fonts/SourceSansPro-Bold.woff) format("woff");
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(../fonts/SourceSansPro-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url(../fonts/SourceSansPro-It.woff2) format("woff2");
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url(../fonts/SourceSansPro-It.woff) format("woff");
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url(../fonts/SourceSansPro-It.ttf) format("truetype"); }
/**
 * @file
 * Custom sass mixins
 *
 * Define the custom mixins for your project here.
 * http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin
 */
/* HTML element (SMACSS base) rules */
/* normalize-scss 3.0.1+normalize.3.0.1 | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Base
   ========================================================================== */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
html {
  font-size: 100%;
  line-height: 1.5em; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
[hidden] {
  display: none; }

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
  margin: 1.5em 30px; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em; }

h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em; }

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em; }

h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.5em 0; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1.5em 0; }

dd {
  margin: 0 0 0 30px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 30px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1.5em 30px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */ }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Import Sass mixins, variables, Compass modules, etc. */
body {
  color: #000;
  background: #fff; }

a {
  color: #0074BD;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc; }

legend {
  font-weight: bold; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 10px 0; }

h1 {
  font-size: 1.538em; }

h2 {
  font-size: 1.385em; }

h3 {
  font-size: 1.231em; }

h4 {
  font-size: 1.154em; }

h5,
h6 {
  font-size: 1.077em; }

p {
  margin: 1em 0; }

dl {
  margin: 0 0 20px; }

dl dd,
dl dl {
  margin-left: 20px;
  /* LTR */
  margin-bottom: 10px; }

blockquote {
  margin: 1em 40px; }

address {
  font-style: italic; }

u,
ins {
  text-decoration: underline; }

s,
strike,
del {
  text-decoration: line-through; }

big {
  font-size: larger; }

small {
  font-size: smaller; }

sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal; }

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal; }

nobr {
  white-space: nowrap; }

abbr,
acronym {
  border-bottom: dotted 1px; }

quote,
code {
  margin: .5em 0; }

code,
pre,
kbd {
  font-size: 1.231em; }

pre {
  margin: 0.5em 0;
  white-space: pre-wrap; }

html {
  line-height: 1.4; }

h1, h2, h3, h4 {
  font-weight: 600; }

h1 {
  font-size: 1.625em;
  line-height: 1.1; }

h2 {
  font-size: 1.3125em;
  line-height: 1.15; }

a {
  color: #0074bd; }

a:visited {
  color: #0074bd; }

a:hover,
a:focus {
  color: #003a5f;
  text-decoration: underline; }

a:active {
  /* a link when it is 'clicked' on */
  color: #005184; }

a.active,
a[aria-selected="true"] {
  /* in Drupal, this is a link that points to the current (active) page */
  color: inherit; }

input a,
td a, th a,
.vertical-tabs a {
  text-decoration: none; }

/* Component (SMACSS module) rules */
/* CONTENTS

  Tables
  Fieldsets

  Skip link
  Branding
  Help
  Page title
  Console
  Tabs
  Page layout
  Form elements
  Views exposed form
  Database log table
  Media
  Messages

  System
    admin/appearance
    Update options
    Update status
    Maintenance theming
    Overlay theming
    Shortcut theming
    Field UI
    Recent content block
    User login block
    Disable overlay message
 */
/**
 *                                        Small components
 */
body,
#overlay-content {
  background: #ffffff;
  color: #1a1a1a;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Source Sans Pro", sans-serif; }

html.js body {
  padding: 0;
  margin-top: 30px; }

#page {
  color: inherit; }

.admin-list li a {
  font-weight: 600; }

#admin-menu li > a {
  padding: 6px 8px; }

.field.field-label-inline > .field-label, .field.field-label-inline > .field-items, .field.field-label-inline > .field-items > * {
  display: inline; }

/**
 *                                        Lists
 */
li {
  line-height: 1.2; }
  li + li {
    margin-top: 0.6em; }

ul,
.block ul,
.item-list ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em;
  /* LTR */ }

.item-list ul li,
li.leaf,
ul.menu li {
  list-style-type: disc;
  list-style-image: none; }

ul.menu li {
  margin: 0; }

ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em;
  /* LTR */ }

.item-list ul li.collapsed,
ul.menu li.collapsed {
  list-style-image: url(../../misc/menu-collapsed.png);
  list-style-type: disc; }

.item-list ul li.expanded,
ul.menu li.expanded {
  list-style-image: url(../../misc/menu-expanded.png);
  list-style-type: circle; }

/**
 *                                        Tables.
 */
table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bebfb9; }
  table tr {
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6bb; }
    table tr.odd, table tr.even {
      background: none; }
    table tr:hover {
      background-color: rgba(0, 116, 189, 0.08); }
    table tr.drag {
      background: #fe7; }
    table tr.drag-previous {
      background: #ffb; }
    table tr.selected td.active, table tr.selected td {
      background: #ffc;
      border-color: #eeb; }
    table tr.region-title {
      background: #f8f8f4; }
  table td,
  table th {
    vertical-align: middle;
    padding: 8px 10px;
    border: 0; }
  table th {
    text-transform: uppercase;
    background: #e1e2dc;
    font-weight: 600;
    border-width: 1px;
    border-style: solid;
    border-color: #bebfb9;
    padding: 3px 10px; }
    table th.select-all {
      width: 1px; }
    table th.active {
      background: #bdbeb9; }
    table th a {
      display: block;
      position: relative; }
    table th.active a {
      padding: 0 25px 0 0;
      /* LTR */ }
    table th.active img {
      position: absolute;
      top: 3px;
      right: 3px;
      /* LTR */ }
  table td.active {
    background: rgba(233, 233, 221, 0.45); }
  table.system-status-report tr {
    border-bottom: 1px solid #ccc; }
    table.system-status-report tr.ok {
      color: #255b1e;
      background-color: #e5ffe2; }
    table.system-status-report tr.info {
      color: #040f37;
      background-color: #bdf; }
    table.system-status-report tr.warning {
      color: #840;
      background-color: #fffce5; }
    table.system-status-report tr.error {
      color: #8c2e0b;
      background-color: #fef5f1; }

/* Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
tr td:last-child {
  border-right: 1px solid #bebfb9;
  /* LTR */ }

/**
 *                                        Fieldsets.
 *
 * Fieldset legends are displayed like containers in Seven. However, several
 * browsers do not support styling of LEGEND elements. To achieve the desired
 * styling:
 * - All fieldsets use 'position: relative'.
 * - All legend labels are wrapped in a single span.fieldset-legend that uses
 *   'position: absolute', which means that the LEGEND element itself is not
 *   rendered by browsers.
 * - Due to using 'position: absolute', collapsed fieldsets do not have a
 *   height; the fieldset requires a 'padding-top' to make the absolute
 *   positioned .fieldset-legend appear as though it would have a height.
 * - Various browsers are positioning the legend differently if there is a
 *   'padding-left'/'padding-right' applied on a fieldset and inherit the
 *   positioning even to absolute positioned elements within; we therefore have
 *   to apply all padding to the inner .fieldset-wrapper instead.
 */
fieldset {
  border: 1px solid #ccc;
  padding: 1em 0 0 0;
  /* LTR */
  position: relative;
  margin: 1em 0;
  border-radius: 0.3em; }
  fieldset legend {
    padding: 0.3em;
    margin-left: 0.6em; }
    fieldset legend .fieldset-legend {
      text-transform: uppercase;
      padding-left: 0;
      text-transform: none;
      margin-top: 0; }
  fieldset .fieldset-wrapper {
    padding: 0 13px 13px 15px;
    /* LTR */ }
  fieldset.collapsed {
    background-color: transparent; }
  html.js fieldset.collapsed {
    border-width: 1px;
    height: auto; }
  fieldset fieldset {
    background-color: #fff; }
    fieldset fieldset fieldset {
      background-color: #f8f8f8; }

/**
 *                                        Pager.
 */
.item-list .pager li {
  padding: 0;
  display: inline-block; }
  .item-list .pager li:not(:first-child) {
    margin-left: 0.5em; }
  .item-list .pager li a {
    display: block;
    padding: 0.3em; }

/**
 *                                        Skip link.
 */
#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%;
  /* LTR */
  margin-left: -5.25em;
  /* LTR */
  width: auto;
  z-index: 50; }

#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  display: block;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  padding: 1px 10px 2px 10px;
  /* LTR */
  text-decoration: none;
  border-radius: 0 0 10px 10px; }

#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0; }

/**
 *                                        Branding.
 */
#branding {
  padding: 0;
  margin-bottom: 1em;
  padding-left: 40px;
  /* LTR */
  padding-right: 40px;
  /* LTR */ }
  body > #branding {
    background: #E0E0D8;
    border-bottom: solid 1px #A6A6A6; }

.breadcrumb {
  font-size: 0.846em;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  background: rgba(224, 224, 216, 0.7);
  float: left;
  /* LTR */
  margin-bottom: 0.7em; }

#branding div.block form label {
  display: none; }

#branding div.block form div.form-item {
  float: left;
  /* LTR */
  border: 0;
  margin: 0;
  padding: 0; }
#branding div.block form input.form-text {
  width: 140px;
  margin-right: 10px;
  /* LTR */ }
#branding div.block form input.form-submit {
  text-align: center;
  width: 80px; }

/**
 *                                        Help.
 */
#help div.more-help-link {
  text-align: right;
  /* LTR */ }

/**
 *                                        Page title.
 */
.page-title,
#overlay-title {
  margin: 0 0 0.2em 0;
  min-width: 7em;
  float: left;
  clear: left;
  display: block; }

/**
 *                                        Console.
 */
#console {
  margin: 9px 0 10px; }

/**
 *                                        Tabs.
 */
ul.primary,
#overlay-tabs {
  font-size: inherit;
  line-height: inherit;
  float: left;
  margin-bottom: -1px;
  border: none; }
  ul.primary:after,
  #overlay-tabs:after {
    content: "";
    display: table;
    clear: both; }
  ul.primary li,
  #overlay-tabs li {
    margin: 0;
    display: inline-block; }
    ul.primary li a, ul.primary li a.active, ul.primary li a:active, ul.primary li a:visited, ul.primary li a:focus, ul.primary li a:hover,
    #overlay-tabs li a,
    #overlay-tabs li a.active,
    #overlay-tabs li a:active,
    #overlay-tabs li a:visited,
    #overlay-tabs li a:focus,
    #overlay-tabs li a:hover {
      color: #444440;
      display: block;
      padding: 0.3em 1em !important;
      margin: 0;
      background-color: #EDEDE9;
      border-width: 1px 1px;
      border-style: solid;
      border-color: #A6A6A6;
      text-transform: none;
      font-size: inherit;
      -moz-border-radius: 4px 4px 0px 0px;
      -webkit-border-radius: 4px;
      border-radius: 4px 4px 0px 0px; }
    ul.primary li a:focus, ul.primary li a:hover,
    #overlay-tabs li a:focus,
    #overlay-tabs li a:hover {
      margin: 0;
      color: black;
      background-color: #F5F5F5; }
    ul.primary li.active a[href], ul.primary li.active a[href].active, ul.primary li.active a[href]:active, ul.primary li.active a[href]:visited,
    #overlay-tabs li.active a[href],
    #overlay-tabs li.active a[href].active,
    #overlay-tabs li.active a[href]:active,
    #overlay-tabs li.active a[href]:visited {
      border-bottom-color: white;
      background-color: white; }

.tabs-secondary {
  float: left; }
  #page .tabs-secondary {
    margin: 0 2.4em  1em 0; }

ul.secondary {
  float: right;
  /* LTR */
  font-size: 0.8em;
  overflow: hidden;
  border-bottom: none;
  padding: 0;
  background: none;
  margin: 0;
  /* LTR */
  overflow: visible; }
  ul.secondary li {
    margin: 0;
    float: left;
    /* LTR */
    padding: 0;
    border-right: none; }
    ul.secondary li:first-child a {
      border-radius: 0.3em 0 0 0.3em; }
    ul.secondary li:last-child a {
      border-radius: 0 0.3em 0.3em 0; }
    ul.secondary li a {
      background-color: #EDEDE9;
      color: #000;
      display: inline-block;
      border: solid 1px #A6A6A6;
      padding: 0.3em 1em; }
      ul.secondary li a.active {
        border: solid 1px #A6A6A6;
        background: white;
        font-weight: 600; }
      ul.secondary li a:hover, ul.secondary li a:focus {
        background-color: #F5F5F5; }

#content {
  clear: left; }

/**
 *                                        Page layout.
 */
#page {
  padding: 0;
  /* LTR */
  margin-right: 40px;
  /* LTR */
  margin-left: 40px;
  /* LTR */
  position: relative;
  color: #333; }

#secondary-links ul.links li {
  padding: 0 10px 10px 0;
  /* LTR */ }

#secondary-links ul.links li a {
  font-size: 0.923em;
  background: #777;
  color: #fff;
  text-align: center;
  height: 55px;
  width: 80px;
  overflow: hidden;
  border-radius: 5px; }

#secondary-links ul.links li a:hover {
  background: #999; }

ul.links li,
ul.inline li {
  margin-right: 1em;
  /* LTR */ }

ul.inline li {
  display: inline; }

#secondary-links ul.links li.active-trail a,
#secondary-links ul.links li a.active {
  background: #333; }

ul.admin-list li {
  position: relative;
  padding-left: 30px;
  /* LTR */
  padding-top: 9px;
  border-top: 1px solid #ccc;
  margin-left: 0;
  /* LTR */
  margin-bottom: 10px;
  background: url(../images/list-item.png) no-repeat 0 11px;
  /* LTR */
  list-style-type: none;
  list-style-image: none; }
  ul.admin-list li:last-child {
    border-bottom: none; }
  ul.admin-list li a {
    margin-left: -30px;
    /* LTR */
    padding: 0 0 4px 30px;
    /* LTR */
    min-height: 0; }

.admin-panel .item-list ul,
ul.admin-list {
  margin: 0;
  padding: 0; }

.admin-panel .item-list ul,
ul.admin-list.compact {
  margin: 8px 0; }

.admin-panel .item-list li,
ul.admin-list.compact li {
  border: none;
  background: none;
  margin: 0 0 0.75em;
  padding: 0; }

ul.admin-list.compact li a {
  margin-left: 0;
  /* LTR */
  padding: 0; }

ul.admin-list li div.description a {
  margin-left: 0;
  /* LTR */
  padding: 0;
  min-height: inherit; }

div.submitted {
  color: #898989; }

/**
 *                                        Form elements.
 */
.form-item {
  padding: 0;
  margin: 0 0 1em; }

.filter-wrapper .form-item,
div.teaser-checkbox .form-item,
.form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0; }

.form-type-checkbox {
  padding: 0; }

.text-format-wrapper .form-item {
  padding-bottom: 0; }

.form-item label {
  margin: 0;
  padding: 0; }
.form-item label.option {
  font-size: 0.923em;
  text-transform: none; }
  .form-item label.option input {
    vertical-align: middle; }

.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #777; }

/* Filter */
.filter-wrapper {
  border-top: 0;
  padding: 10px 2px; }
  .filter-wrapper .fieldset-wrapper {
    padding: 0 6px; }
  .filter-wrapper .form-item,
  .filter-wrapper .filter-guidelines,
  .filter-wrapper .filter-help {
    font-size: 0.923em;
    padding: 2px 0 0 0;
    /* LTR */ }

ul.tips,
div.description,
.form-item div.description {
  margin: 5px 0;
  font-size: 0.923em;
  color: #666; }

ul.tips li {
  margin: 0.25em 0 0.25em 1.5em;
  /* LTR */ }

body div.form-type-radio div.description,
body div.form-type-checkbox div.description {
  margin-left: 1.5em;
  /* LTR */ }

input[disabled],
input.form-button-disabled,
input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999; }

input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  outline: solid 2px rgba(170, 204, 238, 0.6); }

ul.action-links {
  margin: 1em 0;
  padding: 0 20px 0 20px;
  /* LTR */
  list-style-type: none;
  overflow: hidden; }
  ul.action-links li {
    float: left;
    /* LTR */
    margin: 0 1em 0 0;
    /* LTR */ }
  ul.action-links a {
    padding-left: 15px;
    /* LTR */
    background: transparent url(../images/add.png) no-repeat 0 center; }

/* Exceptions */
#diff-inline-form select,
div.filter-options select {
  padding: 0; }

.form-item {
  padding: 0; }

input, select, textarea {
  font-family: inherit;
  font-size: inherit; }

button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  font-weight: 600;
  border-color: #B7B7AC;
  padding: 0.3em 1em;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U5ZTlkYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfb), color-stop(100%, #e9e9db));
  background-image: -moz-linear-gradient(top, #fcfcfb, #e9e9db);
  background-image: -webkit-linear-gradient(top, #fcfcfb, #e9e9db);
  background-image: linear-gradient(to bottom, #fcfcfb, #e9e9db);
  border-radius: 0.4em;
  font-family: inherit;
  margin-bottom: 1em;
  margin-right: 1em;
  /* LTR */
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2; }
  button:hover, button:focus,
  a.button:hover,
  a.button:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="button"]:hover,
  input[type="button"]:focus {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzZjNlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfb), color-stop(100%, #f3f3ea));
    background-image: -moz-linear-gradient(top, #fdfdfb, #f3f3ea);
    background-image: -webkit-linear-gradient(top, #fdfdfb, #f3f3ea);
    background-image: linear-gradient(to bottom, #fdfdfb, #f3f3ea); }

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  padding: 0.3em 0.5em;
  background-color: #fcfcfa !important;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  border-top-color: #999; }

/**
 *                                        Views exposed form.
 */
.views-exposed-form .views-exposed-widget label {
  margin-bottom: 0.3em; }
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.8em; }

/**
 *                                        Database log table.
 */
table#admin-dblog tr.dblog-warning {
  background-color: rgba(255, 179, 26, 0.25); }
  table#admin-dblog tr.dblog-warning td.icon {
    background-image: url("../images/warning.svg"); }
table#admin-dblog tr.dblog-error {
  background-color: rgba(230, 38, 0, 0.25); }
  table#admin-dblog tr.dblog-error td.icon {
    background-image: url("../images/error.svg"); }

/**
 *                                        Media.
 */
.media-item {
  padding: 0px 2px 2px; }

/**
 *                                        Messages
 */
div.messages {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em; }

div.status,
div.warning,
div.error {
  font-weight: 600;
  border-left-width: 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

div.status {
  color: #52803b !important;
  background-color: #f4f9f2 !important;
  border-color: #77b259;
  background-image: url("../images/check.svg"); }

div.warning {
  color: #9d6900;
  background-image: url("../images/warning.svg");
  background-color: #fff7e8;
  border-color: #e09600; }

div.error {
  color: #a11b00;
  background-image: url("../images/error.svg");
  background-color: #ffece9;
  border-color: #e62600; }

/**
 *                                        System.
 */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0; }

div.admin-panel {
  margin: 0 0 20px;
  padding: 9px;
  background: #f8f8f8;
  border: 1px solid #ccc; }
  div.admin-panel,
  div.admin-panel .body {
    clear: left; }
  div.admin-panel h3 {
    font-size: 0.923em;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 9px; }

/*                      admin/appearance */
#system-themes-page h2 {
  font-weight: normal;
  text-transform: uppercase; }

.theme-selector h3 {
  font-weight: normal; }

.theme-default h3 {
  font-weight: bold; }

.system-themes-list-enabled .theme-selector h3 {
  margin-top: 0; }

/*                      Update options. */
div.admin-options {
  background: #f8f8f8;
  height: 30px;
  padding: 9px;
  border: 1px solid #ccc;
  margin: 0 0 10px; }
  div.admin-options label {
    text-transform: uppercase;
    font: 0.846em/1.875em Lucida Grande, Lucida Sans Unicode, sans-serif; }
  div.admin-options label,
  div.admin-options div.form-item {
    margin-right: 10px;
    /* LTR */
    float: left;
    /* LTR */ }
  div.admin-options div.form-item {
    padding: 0;
    border: 0; }

/*                      Update status */
.versions table.version {
  border: none; }

/*                      Maintenance theming */
body.in-maintenance #sidebar-first {
  float: left;
  /* LTR */
  width: 200px; }
body.in-maintenance #content {
  float: right;
  /* LTR */
  width: 550px;
  padding-right: 20px;
  /* LTR */
  clear: none; }
body.in-maintenance #page {
  overflow: auto;
  width: 770px;
  margin: 0 auto;
  padding-top: 2em; }
body.in-maintenance #branding h1 {
  width: 770px;
  margin: 0 auto;
  float: none; }
body.in-maintenance .form-radios .form-type-radio {
  padding: 2px 0; }
body.in-maintenance div.form-item:after {
  content: "";
  display: none;
  clear: none; }
body.in-maintenance .form-submit {
  display: block; }
body.in-maintenance #logo {
  margin-bottom: 1.5em;
  max-width: 180px; }

ol.task-list {
  margin-left: 0;
  /* LTR */
  list-style-type: none;
  list-style-image: none; }
  ol.task-list li {
    padding: 0.5em 1em 0.5em 20px;
    /* LTR */
    color: #adadad; }
  ol.task-list li.active {
    background: transparent url(../images/task-item.png) no-repeat 3px 50%;
    /* LTR */
    padding: 0.5em 1em 0.5em 20px;
    /* LTR */
    color: #000; }
  ol.task-list li.done {
    background: transparent url(../images/task-check.png) no-repeat 0 50%;
    color: green; }

/*                      Overlay theming */
.overlay #branding {
  background-color: #fff;
  padding-top: 15px; }
.overlay #branding h1.page-title,
.overlay #left,
.overlay #footer {
  display: none; }
.overlay #page {
  margin: 0; }
.overlay #overlay-tabs {
  bottom: -1px;
  margin: 0; }
.overlay #content {
  padding: 0; }

h1#overlay-title {
  font-weight: normal; }

/*                      Shortcut theming */
div.add-or-remove-shortcuts {
  float: left;
  /* LTR */
  padding-top: 6px;
  padding-left: 6px;
  /* LTR */ }

div.add-or-remove-shortcuts a span.icon {
  background: transparent url("../images/favstar.svg") no-repeat scroll left top;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: -2px;
  background-position: 0px 0px; }
div.add-or-remove-shortcuts a:focus span.icon, div.add-or-remove-shortcuts a:hover span.icon {
  background-position: -20px 0px; }

div.remove-shortcut a span.icon {
  background-position: -40px top; }
div.remove-shortcut a:focus span.icon, div.remove-shortcut a:hover span.icon {
  background-position: -60px 0px; }

/*                      Dashboard */
#dashboard .dashboard-region div.block h2 {
  background: #E0E0D8; }
#dashboard div.block h2 {
  margin: 0;
  font-size: 1em;
  padding: 3px 10px; }
#dashboard div.block div.content {
  padding: 10px 5px 5px 5px;
  /* LTR */ }
#dashboard div.block div.content ul.menu {
  margin-left: 20px;
  /* LTR */ }
#dashboard .dashboard-region .block {
  border: #ccc 1px solid; }

/*                      Field UI */
#field-display-overview input.field-formatter-settings-edit {
  margin: 0;
  padding: 1px 8px; }
#field-display-overview tr.field-formatter-settings-changed {
  background: #FFFFBB; }
#field-display-overview tr.drag {
  background: #FFEE77; }
#field-display-overview tr.field-formatter-settings-editing {
  background: #D5E9F2; }
#field-display-overview .field-formatter-settings-edit-form .form-item {
  margin: 10px 0; }
#field-display-overview .field-formatter-settings-edit-form .form-submit {
  margin-bottom: 0; }

/*                      Recent content block */
#dashboard div#block-node-recent div.content {
  padding: 0; }

#block-node-recent table,
#block-node-recent tr {
  border: none; }

#block-node-recent .more-link {
  padding: 0 5px 5px 0;
  /* LTR */ }

/*                      User login block */
#user-login-form .openid-links {
  margin-left: 0;
  /* LTR */ }

#user-login-form .openid-links .user-link {
  margin-left: 1.5em;
  /* LTR */ }

/*                      Disable overlay message */
#overlay-disable-message {
  background-color: #addafc; }

#overlay-disable-message a,
#overlay-disable-message a:visited {
  color: #000; }

#overlay-disable-message a:focus,
#overlay-disable-message a:active {
  outline: none;
  text-decoration: underline; }

.overlay-disable-message-focused a {
  padding: 0.4em 0.6em; }

.overlay-disable-message-focused #overlay-dismiss-message {
  background-color: #59a0d8;
  color: #fff;
  border-radius: 8px; }

#overlay {
  background: #E0E0D8;
  color: inherit;
  border-top: 1px solid white;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-top: 2em;
  padding: 0.3em 0 0 0;
  min-width: 0; }
  #overlay #overlay-titlebar {
    white-space: inherit;
    padding: 0; }
    #overlay #overlay-titlebar #overlay-title-wrapper {
      padding-left: 20px;
      padding-right: 20px;
      display: inline-block;
      vertical-align: bottom;
      float: none;
      overflow: visible; }
      #overlay #overlay-titlebar #overlay-title-wrapper #overlay-title {
        color: inherit;
        font-weight: 600;
        font-size: 1.7em;
        margin-bottom: 0.2em;
        min-width: 7em; }
      #overlay #overlay-titlebar #overlay-title-wrapper .add-or-remove-shortcuts a {
        position: relative; }
        #overlay #overlay-titlebar #overlay-title-wrapper .add-or-remove-shortcuts a span.text {
          position: absolute;
          left: 100%;
          width: 10em;
          border-radius: 3px;
          padding: 0.3em 0.8em;
          z-index: 20; }
    #overlay #overlay-titlebar #overlay-close-wrapper {
      right: 0;
      top: 0;
      margin-left: 1em;
      padding-right: 0;
      float: right;
      width: auto;
      height: auto;
      position: static; }
      #overlay #overlay-titlebar #overlay-close-wrapper #overlay-close {
        height: 3em;
        width: 2.5em;
        background-position: 0.7em 1em;
        background-image: url("../images/ex-dark.svg");
        border-radius: 0;
        background-color: inherit;
        position: static; }
    #overlay #overlay-titlebar #overlay-tabs {
      vertical-align: bottom;
      display: inline-block;
      position: relative;
      float: none; }
  #overlay #overlay-content {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0;
    border-radius: 0 0 8px 8px;
    border-top: solid 1px #A6A6A6;
    padding: 1.8em; }
    #overlay #overlay-content > :first-child {
      margin-top: 0;
      padding-top: 0;
      padding-left: 0; }
  #overlay #page > ul.secondary {
    float: none;
    width: 100%;
    border-bottom: 1px solid #C8C8C8;
    margin-top: 0; }
    #overlay #page > ul.secondary li {
      padding-right: 0;
      margin: 0 0 -1px 0; }
      #overlay #page > ul.secondary li a {
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px;
        border-radius: 5px 5px 0 0;
        background: none;
        font-weight: 600; }
        #overlay #page > ul.secondary li a.active {
          border-bottom: 1px solid #000;
          color: inherit; }
        #overlay #page > ul.secondary li a:hover, #overlay #page > ul.secondary li a:focus {
          color: #0063a1; }
  #overlay #page #content > .action-links {
    margin-top: 0; }

#navbar-administration a {
  cursor: pointer !important;
  text-align: left; }
#navbar-administration button {
  border-radius: 0 !important; }
#navbar-administration .navbar-icon {
  padding-left: 3.5em; }
#navbar-administration .menu .menu {
  background: rgba(0, 0, 0, 0.08); }
#navbar-administration .navbar-tab > .navbar-active {
  background: #006DC2 !important; }
#navbar-administration .navbar-tray .active {
  font-weight: bold !important; }
#navbar-administration .navbar-icon.navbar-handle {
  border-left: 1px solid #CCC !important; }
#navbar-administration .menu .menu .navbar-icon.navbar-handle {
  /*border-top: 1px solid #CCC !important;*/ }
#navbar-administration .navbar-icon.navbar-handle:before {
  left: 9px !important; }
#navbar-administration .navbar-tray-vertical .menu ul ul {
  border-bottom: none;
  border-top: none; }
#navbar-administration .navbar-tray-vertical .menu ul {
  overflow: hidden;
  transition: all 0.5s ease 0s;
  display: block !important; }
#navbar-administration .navbar-tray-vertical .navbar-twisty > .menu {
  max-height: 0; }
#navbar-administration .navbar-tray-vertical .navbar-twisty.open > .menu {
  max-height: 900px; }

#resource-form-table tr.resource-group td {
  color: black;
  font-size: 1.3em; }
#resource-form-table tr.resource-operation-class {
  border-bottom: none;
  border-top: none; }
  #resource-form-table tr.resource-operation-class td.resource-operation-class {
    padding-left: 2.8em; }
#resource-form-table tr.resource-method {
  border-bottom: none; }
  #resource-form-table tr.resource-method td.resource-method-description {
    padding-left: 5em; }

/*# sourceMappingURL=petal.css.map */
